---
apiVersion: operator.openshift.io/v1
kind: IngressController
metadata:
  name: default
  namespace: openshift-ingress-operator
  annotations:
    ran.openshift.io/ztp-deploy-wave: "100"
spec:
  defaultCertificate:
    name: ingress-wildcard-cert
