{{- define "unorderedList" }}
{{/* compare two unordered lists: unorderedList <listToEval> <requiredValues> [optionalValues] */}}
{{- $result := list }}
{{- $optionalArgs := list }}
{{- if gt (len .) 2 }}
{{- $optionalArgs = concat $optionalArgs (index . 2) }}
{{- end }}
{{- $expectedArgs := index . 1 }}
{{- range $value := (index . 0) }}
  {{- if or (has $value $expectedArgs) (has $value $optionalArgs) }}
    {{- $result = append $result $value }}
    {{- $expectedArgs = without $expectedArgs $value }}
  {{- end }}
{{- end }}
{{- range $value := $expectedArgs }}
  {{- $result = append $result $value }}
{{- end }}
{{- $result | toYaml | nindent 4 }}
{{- end }}

{{- define "kubeletconfigExperimental"}}
{{- $result := list }}
{{- $optionalArgs := list }}
{{- if gt (len .) 2 }}
{{- $optionalArgs = concat $optionalArgs (index . 2) }}
{{- end }}
{{- $expectedArgs := index . 1 }}
{{ $values := list}}
{{ $config := dict }}
{{- if ne (index . 0) nil }}
{{- $config = (index . 0) | fromJson }}
{{- $values = $config.allowedUnsafeSysctls }}
{{- end}}
{{- range $value := $values }}
  {{- if or (has $value $expectedArgs) (has $value $optionalArgs) }}
    {{- $result = append $result $value }}
    {{- $expectedArgs = without $expectedArgs $value }}
  {{- end }}
{{- end }}
{{- range $value := $expectedArgs }}
  {{- $result = append $result $value }}
{{- end }}
{{- $systemReservedMemory := "$systemReservedMemory" }}
{{- if hasKey $config "systemReserved" }}
{{- $inputSystemReserved := $config.systemReserved }}
{{- if hasKey $inputSystemReserved "memory" }}
{{- $systemReservedMemory = printf "\"%s\"" $inputSystemReserved.memory }}
{{- end }}
{{- end }}
    kubeletconfig.experimental: |
      {
       "allowedUnsafeSysctls":{{ $result | toJson }},
       "systemReserved":{"memory":{{ $systemReservedMemory }}}
      }
{{- end }}
