{{- define "mustMatchOneOf" }}
  {{- $currentValue := index . 0 | default "--empty--" }}
  {{- $allowedValues := slice . 1 }}
  {{- $result := print $currentValue " not in " $allowedValues }}
  {{- range $allowed := $allowedValues }}
    {{- if eq $currentValue $allowed }}
      {{- $result = $currentValue }}
    {{- end }}
  {{- end }}
  {{- $result }}
{{- end }}

{{- define "mustReMatchOneOf" }}
  {{- $currentValue := index . 0 | default "--empty--" }}
  {{- $patterns := slice . 1 }}
  {{- $result := printf "\"%s\" did not match any of: %s" $currentValue ($patterns | toJson) }}
  {{- range $pattern := $patterns }}
    {{- if regexMatch $pattern $currentValue }}
      {{- $result = $currentValue }}
    {{- end }}
  {{- end }}
  {{- $result | toYaml }}
{{- end }}
