---
apiVersion: config.openshift.io/v1
kind: APIServer
metadata:
  name: cluster
  annotations:
    ran.openshift.io/ztp-deploy-wave: "100"
spec:
  servingCerts:
    namedCertificates:
    - names:
      - api.example.com
      servingCertificate:
        name: api-server-cert
