---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  # comment the optional components when not using them
  - optional/lso/
  - optional/odf-internal/
  # - optional/cert-manager/
  # everything under required is mandatory
  - required/gitops/
  - required/acm/
  - required/talm/
  - required/registry/
  # but, include this content if you want to include the argocd
  # configuration and apps for gitops ztp management of cluster
  # installation and configuration
  # - required/gitops/ztp-installation
